{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    // var socket = new WebSocket(
    //     'wss://<your url here>/ws/draw');
  //Random Color Generator--https://stackoverflow.com/questions/1484506/random-color-generator --Narendra Jadhav
function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
var col1 = getRandomColor();
var col2 = getRandomColor();
  var socket = new WebSocket('wss://p3-websockets-wahabahmady-wahmady22223.codeanyapp.com/ws/draw');

// triggered when receiving a message from the server
  var path = new paper.Path();
  var path2 = new paper.Path(); 
socket.onmessage = function(receivedMessage) {
	// do something when you receive a message
 
  path2.strokeColor = getRandomColor();
  var value = JSON.parse(receivedMessage.data); 
    path2.add(new paper.Point(value[1], value[2]));
}
// use when sending a message to the server
// to be broadcasted to all clients, please add a delay
  tool.onMouseMove = function(event){
    path.strokeColor = col1;
    path.add(event.point);
    socket.send(JSON.stringify(event.point));
  }
// notify console if socket closes unexpectedly
socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
  
  
 /* $(document).ready(() => {
  window.addEventListener('devicemotion', (event) => {
    if (Math.abs(event.acceleration.x) > 5){
        paper.project.clear();
        }
    if (Math.abs(event.acceleration.y) > 5){
        paper.project.clear();
        }
      if (Math.abs(event.acceleration.z) > 5){
        paper.project.clear();
        }
  });
   window.addEventListener('deviceorientation', (event) => {
    if (Math.abs(event.gamma) > 10) {
        col1 = getRandomColor();
        col2 = getRandomColor();
    }
  });
    
  });
  */
  
  
  
</script>
</html>